body {
    min-width: 1200px;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
    background: #ffffff url("../img/white-back.png") no-repeat center top;
}

h1 {
    font-family: 'Roboto' medium;
    font-size: 55px;
    line-height: 55px;
    font-weight: normal;
    color: #000000;
}

h2 {
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}
 
header {
    background: #eeeeee url("../img/grey-back.png") no-repeat center top;
    max-width: 1440px;
    margin:auto;
    padding-top: 8px;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-navigation {
    width: 560px;
    margin: 0; 
    padding: 0; 
    list-style: none;
    font-size: 0;
    float: left;
}

.main-navigation li {
    display: inline-block; 
    margin-right: 5px; 
    white-space: nowrap; 
    font-size: 16px;
    line-height: 30px;
    vertical-align:middle
}

.main-navigation a { 
    display: block; 
    color: #000000; 
    text-decoration: none; 
    text-transform: uppercase;
    padding-top: 66px;
    padding-left: 21px;
    padding-right: 21px;
}

.main-navigation a:hover {
  color: #fb565a;
}

.basket a{
    position: relative;
    display: inline-block;
    width: 160px;
    color: #000000; 
    float: right;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none; 
    padding-top: 69px;
    vertical-align: middle;
}

.basket a::before {
  content: "";
  position: absolute;
  top: 74px;
  left: 45px;
  width: 15px;
  height: 15px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -1141px -5px;
}

.basket a:hover {
  color: #fb565a;
}

.header-logo {
    float:left;
    padding-top: 21px;
    padding-right: 90px
}

.slider{
    position:relative;
    width:1160px;
    height:424px;
    margin:0 auto;
}
.slider input[type=radio] {
    position:absolute;
    opacity:0;
}
.slider-controls{
    position:absolute;
    bottom:105px;
    left:50%;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}
.slider-controls label{
    display:inline-block;
    width:12px;
    height:12px;
    margin:0 6px;
    background:white;
    border:3px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background:#c1c1c1;
}
.slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}
.slide-text{
    width:515px;
    padding:30px 0;
    color:#283136;
}
.slide-title{
    font-size:55px;
    line-height:1;
    font-weight:normal;
    color:black;
    margin-top: 38px;
    margin-bottom: 28px;
}
.slide .btn{
    display:block;
    width:240px;
    padding:13px 0;
    margin-top:40px;
    font-size:16px;
    font-weight: 32px;
    color:white;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    background:#fb565a;
    border-radius:3px;
}
.slide:nth-child(1){
    background-image:url('../img/slide1.png');
    background-repeat:no-repeat;
    background-position:93% 10px ; 

}
.slide:nth-child(2){
    background-image:url('../img/slide2.png');
    background-repeat:no-repeat;
    background-position:100% 0px;
}
.slide:nth-child(3){
    background-image:url('../img/slide3.png');
    background-repeat:no-repeat;
    background-position:100% 0;
}
.slide{
    display:none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) { 
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) { 
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) { 
    display: block;
}

.items-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 1100px;
        flex-basis: 1100px;
    margin-bottom: 80px;
    margin-top: 80px;
    position: relative;
}

.web {
    width: 300px;
    margin-right: 100px;
    position: relative;
}

.app {
    width: 300px;
    margin-right: 100px;
    position: relative;
}

.presentations {
    width: 300px;
    position: relative;
}

.items-title {
    margin-top: 18px;
    margin-bottom: 5px;
}

.item-text {
    width: 250px;
    color: #283136;
    margin-bottom: 22px;
}

.btn1 {
    display: inline-block;
    margin-top: 11px;
    padding: 16px 39px;
    font-size: 16px;
    line-height: 18px;
    color:#ffffff;
    background-color: #fb565a;
    text-transform: uppercase;
    text-decoration: none;
    border-radius:3px;
}

.btn2 {
    display: inline-block;
    margin-top: 11px;
    padding: 16px 39px;
    font-size: 16px;
    line-height: 18px;
    color:#ffffff;
    background-color: #00ca74;
    text-transform: uppercase;
    text-decoration: none;
    border-radius:3px;
}  

.btn3 {
    display: inline-block;
    margin-top: 11px;
    padding: 16px 39px;
    font-size: 16px;
    line-height: 18px;
    color:#ffffff;
    background-color: #efc84a;
    text-transform: uppercase;
    text-decoration: none;
    border-radius:3px;
}

.items-flex::after {
  content: "";
  position: absolute;
  top: 427px;
  left: 0px;
  background: url("../img/sprite.png") no-repeat;
  width: 1160px;
  height: 2px;
  background-position: -5px -115px;
 }

.about-us-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 110px;
}

.we-are {
    width: 660px;
    margin-right: auto;
}

.we-are-text {
    font-family: 'Roboto' medium;
    font-size: 45px;
    line-height: 45px;
    font-weight: normal;
    color: #000000;
    margin-bottom: 34px;
}

.we-are-text2 {
    color: #283136;
    margin-bottom: 38px;
}

.we-are-text3 {
    color: #000000;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}

.items-list {
    position: relative;
    list-style: none;
    margin: 0; 
    padding: 0; 
    margin-left: 36px;
    margin-top: 24px;
    color: #283136;
}


.items-list::after {
  content: "";
  position: absolute;
  top: 12px;
  left: -35px;
  background: url("../img/sprite.png") no-repeat;
  width: 25px;
  height: 2px;
  background-position: -5px -5px;
 }

.pseudo {
    position: relative;
}

.pseudo::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -35px;
  background: url("../img/sprite.png") no-repeat;
  width: 25px;
  height: 2px;
  background-position: -5px -5px;
 }

.pseudo::after {
  content: "";
  position: absolute;
  top: 60px;
  left: -35px;
  background: url("../img/sprite.png") no-repeat;
  width: 25px;
  height: 2px;
  background-position: -5px -5px;
 }

.items-list li{
    margin-bottom: 24px;
}

.logo {
    width: 360px;
    margin-left: auto;
    margin-top: 12px;
}

.year {
    color: #000000;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 29px;
    margin-left: 18px;
}

.accuracy {
   display: inline-block;
    width: 100px;
    margin-top: 5px;
    margin-right: 15px; 
}

.percents {
    color: #000000;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 45px;
    line-height: 10px;
    font-weight: bold;
    margin-bottom: 36px
}

.percents sup {
    font-size: 26px;
    line-height: 10px;
}

.p-percents-offer { 
    font-size: 16px;
    line-height: 18px;
    color: #283136;
}

.examples-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 1160px;
        flex-basis: 1160px;
    padding-left: 30px;
    padding-right: 00px;
    padding-top: 105px;
    padding-bottom: 116px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.academy-logo::before {
  content: "";
  position: absolute;
  top: -64px;
  left: -30px;
  background: url("../img/sprite.png") no-repeat;
  width: 1160px;
  height: 2px;
  background-position: -5px -115px;
 }

.academy-logo {
    position: relative;
    padding-right: 97px;
}

.academy-logo::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 249px;
  background: url("../img/sprite.png") no-repeat;
  width: 2px;
  height: 52px;
  background-position: -106px -30px;
 }

.borodinsky-logo {
    position: relative;
    padding-right: 103px;
}

.borodinsky-logo::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 253px;
  background: url("../img/sprite.png") no-repeat;
  width: 2px;
  height: 52px;
  background-position: -106px -30px;
 }

.pink-logo {
    position: relative;
    padding-right: 121px;
}

.pink-logo::after {
  content: "";
  position: absolute;
  top: -6px;
  left: 241px;
  background: url("../img/sprite.png") no-repeat;
  width: 2px;
  height: 52px;
  background-position: -106px -30px;
 }

.mishka-logo {
    position: relative;
}

.mishka-logo::after {
  content: "";
  position: absolute;
  top: 127px;
  left: -945px;
  background: url("../img/sprite.png") no-repeat;
  width: 1160px;
  height: 2px;
  background-position: -5px -115px;
 }

.map::before {
  content: "";
  position: absolute;
  top: 89px;
  left: 820px;
  background: url("../img/sprite.png") no-repeat;
  width: 231px;
  height: 190px;
  background-position: -811px -255px;
 }

.map {
    position: relative;
    margin: 0 auto;
    background-image: url("../img/map.jpg");
    height: 416px;
    width: 1440px;
}

.adress {
    position: absolute;
    width: 319px;
    height: 308px;
    background: url("../img/whitebackmap.png") no-repeat;
    top: 54px;
    left: 140px;
}

.adress b {
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    padding-left: 49px;
    margin-top: 48px;
    text-transform: uppercase; 
    padding-bottom: 7px;
}

.adress p {
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    padding-left: 52px;
    color: #666666;
    margin-bottom: -33px;  
}

.adress .btn{
    display:block;
    width:220px;
    padding:16px 0;
    margin-top:35px;
    margin-left: 50px;
    font-size:16px;
    line-height: 18px;
    font-weight: normal;
    color:white;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    background:#fb565a;
    border-radius:3px;
}

.footer-social {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-preferred-size: 960px;
        flex-basis: 960px; 
    -ms-flex-wrap: wrap; 
        flex-wrap: wrap;
}

.footer-btn {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width: 260px;
    max-height: 79px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 63px;
}

.social-btn {
    position: relative;
    width: 80px;
    background-image: url("../img/Shape%202%20copy%203.png");  
}

.vk::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 27px;  
  background: url("../img/sprite.png") no-repeat;
  width: 26px;
  height: 15px;
  background-position: -5px -195px;
 }

.vk {
    position: relative; 
}

.fb::before {
  content: "";
  position: absolute;
  top: 27px;
  left: 35px;  
  background: url("../img/sprite.png") no-repeat;
  width: 12px;
  height: 22px;
  background-position: -1141px -30px;
 }

.fb {
    position: relative; 
}

.im::before {
  content: "";
  position: absolute;
  top: 29px;
  left: 30px;  
  background: url("../img/sprite.png") no-repeat;
  width: 21px;
  height: 21px;
  background-position: -75px -62px;
 }

.im {
    position: relative; 
}

.footer-offer {
    width: 560;
    margin-left: 139px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center; 
    margin-top: 31px;
}

.friends {
    color: #000000;
    font-family: 'Roboto';
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    margin: 0;
    margin-top: 37px;
}

.discount {
    margin-top: 9px;
    margin-left: 1px;
}

.shop {
    width: 1160px;
    height: 55px;
    margin: auto;
    margin-top: 68px;
    margin-bottom: -33px;
    padding-bottom: 111px;
    text-align: center;
}

.sort-bar::before {
  content: "";
  position: absolute;
  top: 97px;
  left: 1122px;  
  background: url("../img/sprite.png") no-repeat;
  width: 9px;
  height: 9px;
  background-position: -38px -30px;
 }

.sort-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-preferred-size: 1160px;
        flex-basis: 1160px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;  
}

.sort-bar::after {
  content: "";
  position: absolute;
  top: 97px;
  left: 1151px;  
  background: url("../img/sprite.png") no-repeat;
  width: 9px;
  height: 9px;
  background-position: -751px -30px;
 }

.sort-bar1 {
    color: #000000;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    margin-top: 87px;
    margin-right: 288px;
}

.sort-bar2 {
    color: #000000;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    margin-left: -20px;
    margin-right: 45px;
    margin-top: 80px;
}

.flex-shop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 1160px;
        flex-basis: 1160px;
}

.sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 260px;
        flex-basis: 260px;
    padding-right: 140px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
  text-transform: uppercase;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.form {
   margin-top: 31px; 
}

.sort-bar3 {
    color: #000000;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    margin-top: 55px;
}

.sort-bar4 {
    color: #000000;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    margin-top: 45px;
}

input[type="checkbox"] {
    display: none;
}

input[type="radio"] {
    display: none;
}

input[type="checkbox"] + label {
    display:block;
    font-size: 16px;
    line-height: 20px;
    padding-left: 36px;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}

input[type="checkbox"] + label::before {
  content:"";
  position: absolute;
  background: url("../img/sprite.png") no-repeat;
  top: -1px;
  left: 0px;  
  width: 23px;
  height: 23px;
  background-position: -5px -30px; 
}

input[type="checkbox"]:checked + label::after {
  content:"";
  position: absolute;
  background: url("../img/sprite.png") no-repeat;
  top: -1px;
  left: 0px;  
  width: 27px;
  height: 23px;
  background-position: -38px -55px; 
}

input[type="radio"] + label {
    display:block;
    font-size: 16px;
    line-height: 20px;
    padding-left: 36px;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}

input[type="radio"] + label::before {
  content:"";
  position: absolute;
  background: url("../img/sprite.png") no-repeat;
  top: -2px;
  left: 0px;  
  width: 25px;
  height: 25px;
  background-position: -1121px -62px; 
}

input[type="radio"]:checked + label::after {
  content:"";
  position: absolute;
  background: url("../img/sprite.png") no-repeat;
  top: -2px;
  left: 0px;  
  width: 25px;
  height: 25px;
  background-position: -1135px -127px; 
}

.button {
    font-size: 16px;
    text-transform: uppercase;
    background-image: url("../img/sprite.png") no-repeat;  
    width: 260px;
    height: 50px;
    background-position: -5px -127px; 
    margin-top: 30px;
}

.items {
    position: relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-preferred-size: 760px;
        flex-basis: 760px; 
    -ms-flex-wrap: wrap; 
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 70px;
}

.items a {
    margin-bottom: 71px;
    position: relative;
}

.items>a::before {
  content: "";
  position: absolute;
  top: -40px;
  background: url("../img/sprite.png") no-repeat;
  width: 360px;
  height: 40px;
  background-position: -771px -5px;
 }

.hover {
    position: absolute;
    display: none;
    width: 360px;
    height: 231px;
    top: 350px;
    background-image: url("../img/whitebackcopy.png");
    background-repeat: no-repeat;
    text-align: center;
}

.hover b {
    font-size: 18px;
    line-height: 80px;
    font-weight: bold;
    text-transform: uppercase; 
}

.hover p {
    font-size: 16px;
    line-height: 18px;
    color: #666666; 
    margin-top: -10px;
}

.hover .btn{
    display:block;
    width:200px;
    padding:16px 0;
    margin-top:35px;
    margin-left: 80px;
    font-size:16px;
    line-height: 18px;
    font-weight: normal;
    color:white;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    background:#fb565a;
    border-radius:3px;
}

.items:hover .hover  {
  display:block;
}



.paginator {
    width: 445px;
    margin-top: -25px;
    margin-left: 390px;
    margin-bottom: 50px;
    padding: 10px;
    white-space: nowrap;
}

.paginator a {     
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 50px;
    text-decoration: none;
    font-weight: normal;
    margin-right: 7px;
    color: #000000;
    position: relative;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-position: -1061px -55px; 
}

.paginator .current {
    width: 50px;
    height: 50px;
    background-position: -1001px -55px;
}

.paginator .next {
    width: 260px;
    height: 50px;
    background-position: -5px -127px;
}